<h1 class="mt20">Add Question to {{qtitle}}</h1>


<div class="class container">
    <div class="row">
        <div class="class">
            <div class="col-md-12">

                <div class="container text-center">
                    <button [routerLink]="'/admin/add-question/'+qId+'/'+qtitle"
                     mat-raised-button color="accent">Add Question</button>
                </div>

                <mat-card *ngFor="let q of questions; let i = index" class="mt20">
                    <mat-card-content>
                       <p>
                       <b> Q{{i+1}}) </b><span class="ml10" [innerHTML]="q.content"></span>

                       </p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><b>1)</b>{{q.option1}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>2)</b>{{q.option2}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <p *ngIf="q.option3"><b>3)</b>{{q.option3}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p  *ngIf="q.option4"><b>4)</b>{{q.option4}}</p>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <!-- <div class="container">
                                <div class="row">
                                    div.col -->
                               <p> <b>Correct Answer:</b>{{q.answer}}</p>
                        </div>
                          <mat-card-actions>

                            <button  mat-raised-button color="accent">Update Question</button>

                            <button (click)=" deleteQuestion(q.quesId)" class="ml20" mat-raised-button color="accent">Delete Question</button>
                           </mat-card-actions>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
