<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card> 
            <div class="container text-center" >
                <img src="../../../assets/logo.png.png" alt="" width="100" height="100"/>
            </div>
            <h1 class="text-center">Register Here</h1>

            <form (ngSubmit)="formSubmit()">

                  <!-- user name field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input
                    required
                     [(ngModel)]="user.username"
                     name="username"
                    matInput placeholder="enter user name">
                </mat-form-field>
                 
                <!-- password field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input 
                    required
                    type="password"
                    [(ngModel)]="user.passward"
                    name="passward"
                    matInput placeholder="enter password">
                </mat-form-field>

                <!-- first name  -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input   required
                    [(ngModel)]="user.firstname"
                    name="firstname"
                    matInput placeholder="enter first name">
                </mat-form-field>

                <!-- last name  -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input   required
                    [(ngModel)]="user.lastname"
                    name="lastname"
                    matInput placeholder="enter last name">
                </mat-form-field>

                <!-- email -->

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input   required
                    [(ngModel)]="user.email"
                    name="email"
                    type="email" matInput placeholder="enter email here">
                </mat-form-field>

                <!-- phone -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input   required
                    [(ngModel)]="user.phone"
                    name="phone"
                    type="number" matInput placeholder="enter phone no ">
                </mat-form-field>

                <div class="container text-center">

                    <button type="submit" mat-raised-button color="primary">Register</button>
                    <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                </div>

            </form>
            </mat-card>
        > </div> 
        </div>
    </div>


